<!DOCTYPE html>
<html>
<head>
    <title>Pokedex</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="pokedex-top">
            <div class="big-circle"></div>
            <div class="small-circles">
                <div class="small-circle red"></div>
                <div class="small-circle yellow"></div>
                <div class="small-circle green"></div>
            </div>
        </div>
        <div class="screen">
            <input type="text" id="search" placeholder="Search Pokemon...">
            <div class="pokemon-grid">
                {% for p in pokemon %}
                <div class="pokemon-card">
                    <a href="/pokemon/{{ p.id }}">
                        <img src="{{ p.sprites.front_default }}" alt="{{ p.name }}">
                        <h3>#{{ '%03d' % p.id }} {{ p.name|title }}</h3>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>